<!DOCTYPE html>
<html>
	<head>
		<title>Andela Learners Community | ALC</title>
		<% include layouts/header.ejs %>
	</head>
	<body>
		<% include layouts/nav.ejs %><br><br><br>

		<div class="container-fluid">
			<div class="col-md-12">
				<!-- <div class="alert alert-success">
					<h4 class="text-center">
					</h4>
				</div> -->
				<h3 class="text-center"><strong>Student <%= title %></strong></h3><br>
				<div class="row">
					<% studentdata.forEach(function(item) {%>
						<div class="col-md-4">
							<div class="well list-well">
								<p>Name: <%= item.studentname %><br>
									School: <%= item.school %><br>
									Email: <%= item.email %><br>
									Age: <%= item.age%><br>
									<h4 class="text-center">
										<a href="/show/<%= item._id %>">
											<span class="fa fa-eye fa-2x"></span>
										</a> &nbsp &nbsp &nbsp
										<a href="/delete/<%= item._id %>">
											<span class="fa fa-trash-o fa-2x"></span>
										</a>
									</h4>
								</p>

							</div>
						</div>
						<% }) %>

				</div>
			</div>

		</div><br><br>

		<% include layouts/footer.ejs %>


	  <script type="text/javascript" src="/stylesheets/bootstrap/jquery-2.2.3.min.js"></script>
	  <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
