<!DOCTYPE html>
<html>
	<head>
		<title>Andela Learners Community | ALC</title>
		<% include layouts/header.ejs %>

	</head>
	<body>
		<% include layouts/topnav.ejs %>
		<% include layouts/nav.ejs %>

		<div class="container">
			<br>
			<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<h3 class=""><br>
				</h3>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <span class="fa fa-pencil-square-o"></span>
						Update Resource
					</div>
					<div class="panel-body">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
							<form role="form" action="/update/<%= studentdata._id %>" method="post">

								<div class="form-group">
									<label for="Name">Student Name</label>
									<input type="text" class="form-control input-lg" placeholder="John Doe" name="studentname" value="<%= studentdata.studentname%>" required>
								</div>

								<div class="form-group">
									<label for="Name">School</label>
									<input type="text" class="form-control input-lg" placeholder="Andela Schools" name="school" value="<%= studentdata.school%>" required>
								</div>

								<div class="form-group">
									<label for="Name">Email</label>
									<input type="text" class="form-control input-lg" placeholder="johndoe@hotmail.com" name="email" value="<%= studentdata.email%>" required>
								</div>

								<div class="form-group">
									<label for="Name">Age</label>
									<input type="number" class="form-control input-lg" placeholder="21" name="age" required="required" value=<%= studentdata.age%> >
								</div><br>

								<div class="text-center">
									<button type="submit" class="btn btn-default sub-btn btn-lg">
										Update
								</div>

								</button>

							</form><br>
						</div>
					</div>

				</div><br><br>
			</div>

		</div>
		<% include layouts/footer.ejs %>

	  <script type="text/javascript" src="/stylesheets/bootstrap/jquery-2.2.3.min.js"></script>
	  <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
